body{
    background: #EFEFEF
}
.img-fit-container{
	width: 100%;
}

header {
    background: #3f3f3f;
    padding: 13px;
}
i.fa.fa-facebook-official {
    color: #fff;
    font-size: 34px;
}
#search input[type="text"] {
    background: url(search-dark.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #fff;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 250px;
 }

 .category-btns {
    color: #888;
    padding: 5px;
    border-radius: 0px;
    border:none;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #EFEFEF;
}
.category-btns:hover {
    background: #C70702;
    color: #fff;
}

 .ad-code-768x90 {
    text-align: center;
    margin-top: 14px;
}   

.categories {
    margin-top: 10px;
    margin-bottom: 10px;
}
.category-btns:hover {
    background: #C70702;
    color: #fff;
}
.grey-shadow-content-section {
    min-height: 400px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 5px 5px #dfdfdf;
    margin-bottom: 39px;
}
.grey-shadow-content-section .post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 6px;
    
 
}
.grey-shadow-content-section .category-title {
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    margin-bottom: 8px;
}
.right-block-row-separator {
    margin-bottom: 13px;
}
.play-button {
    background: url('http://findicons.com/files/icons/1676/primo/128/button_black_play.png');
    background-size: cover;
    position: absolute;
    z-index: 2;
    top: 38px;
    width: 70px;
    height: 70px;
    left: 84px;
}
.video-box {
    cursor: pointer;
}